// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$spink: #f9d4cd;
$spink-dark: #FB866C;
$sred: #E53D3A;
$sgreen: #248D8B;
$sgreen-dark: #0D4949;
$sgreen-light: #E4F9F7;