<div class="apt-show-mab">
  <div class="container">
    <div class="error-content">
      <h3><em>Unfortunately we can't load this page...</em></h3>
      <p><em>Please check if you have the necessary credentials to acess the requested page</em></p>
    </div>
    <div class="button-box">
      <button type="button" class="btn btn-light"><%= link_to 'Back', user_apartments_path(current_user) %></button>
    </div>  
  </div>
</div>